<h2>Update the drone</h2>

<form action="/drones/{{this.droneUpdate._id}}/edit" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" value="{{this.droneUpdate.name}}"/>

  <br />
  <label for="propellers">Propellers</label>
  <input type="text" name="propellers" value="{{this.droneUpdate.propellers}}"/>

  <br />
  <label for="maxSpeed">Max Speed</label>
  <input type="text" name="maxSpeed" value="{{this.droneUpdate.maxSpeed}}"/>

  <br />
  <button> Actualizar drone</button>
</form>